body {
    background-image: url("../static/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box
}

.item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 120px;
    height: 120px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
    line-height: 120px;
    text-align: center;
    font-size: 44px;
}

.smallField{
    max-width:50px;
}
