<!doctype html>
<html lang="en">

<head>
    <title>PETRIFLOW XML MERGER</title>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.12/lib/swappable.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <style type="text/css">
        * {
            box-sizing: border-box
        }

        .item {
            display: inline-block;
            margin: 6px;
            width: 120px;
            height: 120px;
            border: 1px solid #c4c4c4;
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
            line-height: 120px;
            text-align: center;
            font-size: 44px;
        }
    </style>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Upload new XML Petri nets</h1>

    <form id="formFiles" method="POST" enctype="multipart/form-data" action="process_form">
        <label for="formFileMultiple">Choose files</label>
        <div>
            <input type="file" name="file[]" multiple />
        </div>

        <p>
            Drag and drop the positions on the table. Enter edit mode and click on numbers to change the text.
        </p>
        <p>
            Enter -1 if there should be a space.
        </p>
        <div>
            <label for="rows">Rows:</label>
            <input id="rows" type="number" value="2">
            <label for="cols">Cols:</label>
            <input type="number" value="2" id="cols">
            <div>
                <button id="createTable">Create Table</button>
            </div>
        </div>
        <div>
            <button id="edit">EDIT MODE</button>
            <button id="swap">SWAP MODE</button>
        </div>

        <table class="grabbable-parent grabbable">
            <tbody>
                <tr>
                    <td class="item">1</td>
                    <td class="item">2</td>
                </tr>
                <tr>
                    <td class="item">3</td>
                    <td class="item">4</td>
                </tr>

            </tbody>
        </table>
        <input type=submit value=MERGE id="mergeBtn">
    </form>
</body>
<script>
    let swappable = new Swappable.default(document.querySelectorAll('table'), {
        draggable: 'td'
    });

    function updateSelf(event) {
        // get event target element
        let target = event.target;
        let prompt = window.prompt('Enter new value');
        // update innerHTml
        target.innerHTML = prompt;
    }

    $('#edit').click(function () {
        swappable.destroy();
        // add eventlistener to all items
        $('.item').click(updateSelf);

    })
    $('#swap').click(function () {
        swappable = new Swappable.default(document.querySelectorAll('table'), {
            draggable: 'td'
        });
    })


    $('#createTable').click(function () {
        // first remove old table
        $('table').remove();
        // read id cols and id rows
        const rows = $('#rows').val();
        const cols = $('#cols').val();
        // create html table with rows and cols
        const table = $('<table><tbody>');
        table.addClass('grabbable');
        for (let r = 0; r < rows; r++) {
            const tr = $('<tr>');
            for (let c = 0; c < cols; c++) {
                const td = $(`<td>${r * cols + c + 1}</td>`);
                td.addClass('item');
                td.appendTo(tr);
            }
            tr.appendTo(table);
        }
        $('#mergeBtn').before(table);
        swappable = new Swappable.default(document.querySelectorAll('table'), {
            draggable: 'td'
        });
    });



    $('#formFiles')
        .submit(function (e) {
            const formdata = new FormData(this);
            // get table in 2d array
            const table = [];
            $('.grabbable tr').each(function () {
                const row = [];
                $(this).find('td').each(function () {
                    row.push(parseInt($(this).text()));
                });
                table.push(row);
            });
            // add table to formdata
            formdata.append('positions', JSON.stringify(table));

            $.ajax({
                url: '/process_form',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data, status) {
                    //JSON parse error, this is not json (or JSON isn't in your browser)
                    var blob = new Blob([data]);
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "merged.xml";
                    link.click();
                },
                error: function (err) {
                    data = JSON.parse(err.responseText);
                    if ('error_msg' in data) {
                        alert(data.error_msg)
                    }

                }
            });
            e.preventDefault();
        });


</script>

</html>